.exp-cat {
  display: flex;
  flex-direction: row;
}

.exp-cat label {
  width: 18%;
  margin: auto;
}

.exp-cat input {
  width: 85%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

.exp-resp {
  width: 78%;
  margin-left: 3.85%;
  margin-right: 5%;
  height: 3rem;
  border: 1px solid lightgrey;
}

.work-experience {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 4%;
}

.del-edu {
  background-color: red;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
}

.del-edu:hover {
  cursor: pointer;
  box-shadow: slategrey;
}
