.skill-button {
  background-color: #3abb69;
  color: white;
  border: none;
  height: 2.3rem;
  width: 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-top: 0.6rem;
  padding-bottom: 0.8rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
}

.skill {
  display: flex;
  flex-direction: row;
}

.skill button {
  background-color: red;
  color: white;
  border: none;
  height: 1.8rem;
  width: 1.8rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.skill input {
  width: 95%;
  margin: 0 auto;
}

.skill-div {
  border: 1px solid lightslategray;
  border-radius: 8px;
  padding: 0.5rem;
}
